{% include 'header.html.twig' %}

<div class="formulaire-employeprofil">
    <h1>Formulaire d'ajout d'un profil à un employé</h1>
    {{form(employeprofilform)}}
</div>

<style>

.formulaire-employeprofil {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.formulaire-employeprofil h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.formulaire-employeprofil input[type="text"],
.formulaire-employeprofil select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}

.formulaire-employeprofil input[type="submit"] {
    background-color: #1abc9c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.formulaire-employeprofil input[type="submit"]:hover {
    background-color: #16a085;
}

</style>

